<div class = "container m-5" >
<h1>Admin#show_account</h1>
<p>Find me in app/views/admin/show_account.html.erb</p>

<p class="lead">
  This account belongs to <%= @accnt.user.email %>
</p>

<p>
    Current Information:-
    <ul class = 'list-group' >
        <li class = 'list-group-item' > Balance : <%= @accnt.balance %></li>
        <li class = 'list-group-item' > Created at : <%= @accnt.created_at %></li>
        <li class = 'list-group-item' > Updated at : <%= @accnt.updated_at %></li>
    </ul>  
</p>

<h2> Actions:- <h2>

  <%= link_to "Edit", edit_account_path(@accnt), class:"btn btn-info" %>
  
  <%= button_to "Delete", @accnt, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %>

</div>
